{% extends "base.html" %}
{% block contenido %}
    <section style="color: white; text-align: center;"> 
        <a style="font-size: 80px;">Quienes Somos</a>
        <br>
        <div style="font-size: 30px; text-align: center; display: block; border: solid red 3px; margin: 100px;">
            <p>Somos un taller apasionado y dedicado a todo lo relacionado con el mundo del automóvil. Ya sea que necesites una simple mantención o una transformación completa de tu vehículo, estamos aquí para hacerlo realidad.</p>
            <p>Nuestro equipo de expertos mecánicos y técnicos altamente capacitados tiene una amplia experiencia en el mantenimiento y la modificación de automóviles de todas las marcas y modelos. Desde simples cambios de aceite y ajustes de frenos hasta modificaciones de rendimiento y personalización estética, estamos preparados para abordar cualquier desafío que tu vehículo pueda presentar.</p>
            <p>En Rayo Makween, nos enorgullece utilizar tecnología de vanguardia y herramientas especializadas para garantizar que tu automóvil reciba el mejor cuidado posible. Nos mantenemos actualizados con las últimas tendencias y avances en la industria automotriz, para que siempre puedas confiar en nosotros para obtener resultados excepcionales.</p>
            <p>Pero no solo se trata de nuestro conocimiento y habilidades técnicas, sino también de nuestra pasión por los automóviles. Amamos lo que hacemos y eso se refleja en cada proyecto en el que trabajamos. Tratamos cada automóvil como si fuera nuestro propio, brindando atención personalizada y un enfoque meticuloso en cada detalle.</p>
            <p>En Rayo Makween, nuestra máxima prioridad es tu satisfacción. Nos esforzamos por superar tus expectativas y asegurarnos de que te sientas completamente satisfecho con nuestro trabajo. Valoramos la confianza que depositas en nosotros al dejar tu vehículo en nuestras manos y nos comprometemos a proporcionarte un servicio honesto, transparente y confiable.</p>
            <p>Explora nuestro sitio web para obtener más información sobre nuestros servicios y proyectos anteriores. Estamos aquí para responder cualquier pregunta que puedas tener y ayudarte a hacer realidad tus sueños automotrices.</p>
            <p>¡Confía en Rayo Makween para mantener tu automóvil en su mejor estado o transformarlo en algo verdaderamente único!</p>
            <p>En Rayo Makween, entendemos que tu automóvil es más que solo una máquina. Es una extensión de tu personalidad y una expresión de tu estilo de vida. Por eso, nos comprometemos a ofrecerte servicios de calidad que se adapten a tus necesidades y superen tus expectativas.</p>
        </div>
        <br>
        <br>
    </section>

{% endblock contenido %}